@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
html{
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    
}
nav{
    backdrop-filter: blur(100px);
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: rgb(255, 255, 255,10%);
    z-index: 1000; 
    /* z-index make nav bar above from other element */
}
.nav-color{
    background-color: #00021b;
}
header {
    background-color: #00021b;
    height: 100vh;
    width: 100%;
    background-image: url(./pexels-pixabay-358528.jpg) ;
    background-size: cover;
    
}
.hamme-burger{
    display: none;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 100px;
    font-size: 24px;
    color: white;
    background-color:transparent;
    overflow: hidden;
   
   
}
.sticky{
    position: fixed;
    top: 0; 
     width: 100%;
     left: 0;
    
}

.span {
    color: #a30dda;
}

.nav-item ul {
    display: flex;
    list-style: none;
    gap: 90px;

}

.nav-item ul li a {
    text-decoration: none;
    color: #a30dda;
    position: relative;
    font-weight: 700;
    transition: 0.5s;
    
}
.nav-item ul li a:hover{
    color: #ffffff;
}
.nav-item ul li a::after{
    content: "";
    position: absolute;
    display: inline;
    width: 0%;
    background-color: #a30dda;
    height: 3px;
    top: 30px;
    left: 0px;
    transition: 0.3s;

}
.nav-item ul li a:hover:after {
    width: 100%;
}


.title {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;

}

h1 {
    position: relative;
}

.typo::before {
    content: "";
    right: -8px;

    position: absolute;
    height: 72px;
    width: 3px;
    background-color: #a30dda;
    animation: blink 0.7s infinite;

}

.typo.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

main {
    height: 80%;
    width: 100%;
    background-color: #00021b;
    padding-block: 40px;
    
}
.main-image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.main-content {
    display: flex;
    justify-content: space-between;
}
.main-about h1{

width: 600px;
color: #a30dda;
font-size: 40px;
margin-bottom: 20px;
font-family: roboto;
margin-left: 20px;
}
.main-about h1::after{
    content: "";
    border-radius: 50px;
    /* margin: auto; */
    margin-left: 22%;
    margin-block: 5px;
    display: block;
    width: 202px;
    height: 6px;
    background-color: #a30dda;
    box-shadow: 0 0 10px #a30dda;
}
.main-about p{
    width: 400px;
    color: white;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    font-family: roboto;
    
  margin-left: 40px;
}
.education{
    background-color:#090d44 ;
}
.qualification{
    display: flex;
    background-color: #090d44;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    margin-bottom: 0;
}
.logo{
    color: #a30dda;
    font-size: 30px;
    margin-bottom: 5px;

}


    

.quali-info h2{
    color: #00FF00;
    font-size: 30px;
    
}
.quali-info p{
    color: #00FF00;
    font-size: 20px;

}

#myprogress{
    width: 90%;
    background-color: #949494;
    margin-top: 5px;
    border-radius: 5px;
    
    
    
}
.myskills{
    background-color: rgb(20, 18, 69);
}
.skills{
    margin-block: 20px;
    
    color: #ffffff;
    font-weight: bolder;
    
}
.skills-heading{
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #a30dda;
    font-weight: bolder;
    
    background-color: #00021b;
    padding-block: 20px;
    background-color: rgb(20, 18, 69);

}
.skills-heading::after{
    content: "";
    
    border-radius: 50px;
    /* margin: auto; */
    margin-left: 46.5%;
    margin-block: 5px;
    display: block;
    width: 100px;
    height: 6px;
    background-color: #a30dda;
    box-shadow: 0 0 10px #a30dda;
}
.mybar{
    width: 1%;
    height: 10px;
    background: linear-gradient(to right,green,rgb(255, 0, 0));
    border-radius: 5px;
}
.skills-content{
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap;
   
}
.main{
    margin-block: 40px;
}
.skills-name{
    display: flex;
    justify-content: space-between;
    width: 90%;
}


.space{
    height: 100vh;
}
.section{
    background-color:#090d44;
}
.heading{
   
    font-size: 35px;
    color: #a30dda;
    font-weight: bolder;
    padding-block: 20px;
text-align: center;
}
.heading::after{
    content: "";
    
    border-radius: 50px;
    /* margin: auto; */
    margin-left: 46.5%;
    margin-block: 5px;
    display: block;
    width: 100px;
    height: 6px;
    background-color: #a30dda;
    box-shadow: 0 0 10px #a30dda;
}
.service-section{
    display: flex;
    justify-content: space-between;
}
.img img {
    height: 300px;
    width: 300px;
}
.service h1 {
 font-size: 2.5rem;
 margin-bottom: 20px;
 color: #ffffff;
}
.service p{
    color: #00FF00;
    width: 400px;
    font-size: 20px;
}
.service{
    margin-top: 50px;
}
#Project{
    margin-block:90px ;
}
.project-card{
    width: 500px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;

    
}
.project-card img{
    object-fit: cover;
   height: 300px;
   width: 500px;
border: 2px solid black;
   border-radius: 5px;
   box-shadow: 0 0 10px black;
}

.card-container{
display: flex;
justify-content: center;
align-items: center;
margin-block: 20px;
padding-block: 20px;
width: auto;
overflow-x: auto;

}
.child{
    position: relative;
   bottom: 85%;
   left: 15%;
   backdrop-filter:blur(10px) ;
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s, transform 0.3s; /* Add transition effects for opacity and transform */
    /* transform: scale(-0.1); */
    
}
.child:hover{
    opacity: 1; /* Make the div visible on hover */
    transform: scale(1.2); /* Apply zoom effect on hover */
}
.child h5{
    font-size: 2rem;
    color: white;
}
.child a {
    text-decoration: none;
    font-weight: 700;
font-size: 1rem;
color: #090d44;
}
::-webkit-scrollbar{
    width: 10px;
    height: 20px;
   
}
::-webkit-scrollbar-track{
background-color: #00021b;

}
::-webkit-scrollbar-thumb{
    border-radius:10px ;
    background-color: #00FF00;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar:horizontal{
    height: 10px;
}

#Contact{
    height: auto;
}
.form{
    display: flex;
    justify-content: space-between;
}

.dev-img img{
    height: 500px;
    width: 500px;

}
.input{
    border: 2px solid white;
    height: 40px;
    width: 400px;
    background-color: white;
    margin-block: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.input label{
    font-size: 20px ;
    font-weight: 700;

}
.input label i{
    margin-left: 2px;
    margin-right: 5px;
}
input{
    height: 30px;
    /* border: none; */
    outline: none;
    font-size: 15px;
    font-weight: 700;
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;


}
#textarea{
    padding: 10px 0 0 10px;
    font-size: 15px;

}
.btn button{
    width: 173px;
    height: 34px;
    font-size: 20px;
    font-weight: 700;
    background-color: #a30dda;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transform: translateX(0px);
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 50px;
    align-items: center;
    background-color: #090d44;
}
footer a{
  text-decoration: none;
  transition: 0.3s linear;
  
}
footer a i,.email1{
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s linear;
}
.footer-email{
    margin-left: 10px;
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s linear;
}

footer a i:hover,.email1:hover,.footer-email:hover{
    color: #00FF00;
    transform: scale(1.2);
    

}


